body{
     background: #1c1f26;  
} 
.section1 {
    width: 100%;
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
} 
.content-grid {
    width: 75%;
    padding: 40px;
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 60px;
    background:whitesmoke;
    /* box-shadow: 0 4px 20px rgba(0,0,0,0.25); */
}

.top-right {
    margin-top:0%;
    display: flex;
     justify-content: flex-end;
    gap: 10px;
    grid-column: 2; 
}

.return-home {
    color: #6b6b6b;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}

.return-home:hover {
    color: dodgerblue;
}

.close-btn {
    font-size: 15px;
    color: #6b6b6b;
    text-decoration: none;
    font-weight: 600;
}
.close-btn:hover{
     color: dodgerblue;
}

.close-btn:hover {
    color: dogerblue;
}
.page-title {
    font-size: 32px;
    font-weight: 700;
    color: #1aa3e0;
    margin-bottom: 20px;
    margin-top: -10px;
}

.left-side img {
    width: 100%;
    border-radius: 6px;
    margin: 5px 0;
}

.left-side h2 {
    color: #1aa3e0;
    margin-bottom: 20px;
}
.p1, .p2 {
    font-size: 19px;
    line-height: 1.8;
    color: #555;
}
.next-btn a {
    text-decoration: none;
    background-color: #1aa3e0;
    color: white;
    padding: 12px 32px;
    border-radius: 5px;
    font-size: 16px;
    display: inline-block;
    margin-top: 20px;
    transition: 0.3s;
}

.next-btn a:hover {
    background-color: #0d8ac7;
}
@media (max-width: 768px) {
    .content-grid {
        grid-template-columns: 1fr;
    }
}


