* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #1c1f26;  
}
.section3 {
    width: 100%;
    padding: 50px 0;
    display: flex;
    justify-content: center;
}
.container {
    width: 85%;
    background: white;
    border-radius: 12px;
    padding: 40px 50px;
    display: flex;
    position: relative;
    box-shadow: 0 0 30px rgba(0,0,0,0.25);
}
.top-right {
    position: absolute;
    right: 30px;
    top: 25px;
    display: flex;
    gap: 20px;
}

.return-home, .close-btn {
    text-decoration: none;
    font-size: 17px;
    color: gray;
}
.return-home:hover {
    color: dodgerblue;
}
.close-btn:hover{
     color: dodgerblue;
}
.div5 {
    width: 100%;
    display: flex;
    gap: 40px;
}

.gallary-grid {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.gallary-grid img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 6px;
    transition: 0.3s ease;
}

.gallary-grid img:hover {
    transform: scale(1.04);
    opacity: 0.85;
    
    
}

.items {
    width: 30%;
}

.items h4 {
    font-size: 28px;
    color: #0077ff;
    margin-bottom: 25px;
}

.ul {
    list-style: none;
    margin-bottom: 35px;
}
.ul li{
    margin-bottom:20px;
}
.ul li a {
    display:flex;
    align-items: center;      
    gap: 15px;             
    text-decoration: none;      
    color: #555;
}

.ul li img {
    width: 22px;
    height: 22px;
}
.page-active {
    color: white;
    border: none;
}
.ul li li1:hover{
    color:dogerblue;
}

a{
    text-decoration: none;
}
.ul li a:hover {
    color: dodgerblue;
}


.p2, .p3 {
    margin-top: 20px;
    color: #666;
    line-height: 1.6;
    font-size: 16px;
}