body{
    background: #1c1f26;

}
.section2 {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}
.container {
    width: 80%;
    background:whitesmoke;
    padding: 60px;
    border-radius: 8px;
    position: relative; 
}
.top-right {
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.return-home {
    color: #6b6b6b;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}

.return-home:hover {
    color: dodgerblue;
}

.close-btn {
    font-size: 15px;
    color: #6b6b6b;
    text-decoration: none;
    font-weight: 600;
}
.close-btn:hover{
     color: dodgerblue;
}

.close-btn:hover {
    color: dogerblue;
}
.box {
    height:600px;
    background: white;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    position: relative;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.25);
}
.left { 
    display:flex;
}   
   
    
.section2 {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}
.container {
    width: 80%;
    background:whitesmoke;
    padding: 60px;
    border-radius: 8px;
    position: relative; 
}
.top-right {
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.return-home {
    color: #6b6b6b;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}

.return-home:hover {
    color: dodgerblue;
}

.close-btn {
    font-size: 15px;
    color: #6b6b6b;
    text-decoration: none;
    font-weight: 600;
}
.close-btn:hover{
     color: dodgerblue;
}

.close-btn:hover {
    color: dogerblue;
}
.box {
    height:600px;
    background: white;
    display: flex;
    justify-content: flex-start;
    gap:10px;
    position: relative;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.25);
}
.left {     
    display: flex;
    width:45%;
}

.left img {
    width: 280px;
    height:100%;
    object-fit: cover;
    display: block;
    margin:0%;
}
.right{
    margin-top:50px;
}
.middle, .right {
    width: 45%;
}

.middle p,
.right p {
    font-size: 19px;
    color: #555;
    line-height: 1.6;
}
h2 {
    color: dodgerblue;
    margin-bottom: 20px;
    font-size:30px;
}
.next-btn {
    margin-top: 40px;
}

.next-btn a {
    background: dodgerblue;
    color: white;
    padding: 12px 35px;
    border-radius: 6px;
    font-size: 18px;
    text-decoration: none;
}

.next-btn a:hover {
    background: #0074d9;
}
 