body {
    background: #1c1f26;  
}
.section2 {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}
.container {
    width: 80%;
    background:whitesmoke;
    padding: 40px;
    position: relative;
}
.top-right {
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.return-home {
    color: #6b6b6b;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}

.return-home:hover {
    color: dodgerblue;
}

.close-btn {
    font-size: 15px;
    color: #6b6b6b;
    text-decoration: none;
    font-weight: 600;
}
.close-btn:hover{
     color: dodgerblue;
}
 .section4 {
    display: flex;
    justify-content: center;
}

.div7 { 
    background-color: white;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    box-shadow: 0 4px 18px rgba(0,0,0,0.25);
}
h2{
    margin:5px;
}

.div7 h2 {
    grid-column: 1 / 4;  
    color: #5a5a5a;
    font-size: 28px;
    margin-bottom: 20px;
}


.div8 p,
.div9 p,
.div10 p {
    color: #6f6f6f;
    font-size: 20px;
    line-height: 1.7;
    margin-bottom: 18px;
    margin-top: 8px;
}

.italic {
    font-style: italic;
    color: #9a9a9a;
}

.blue {
    color: dodgerblue;
    font-weight: bold;
}
/* .div8{
    margin-top: 0;
} */


.div9 img,
.div10 img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.next-btn a {
    text-decoration: none;
    background-color: #1aa3e0;
    color: white;
    padding: 12px 32px;
    border-radius: 5px;
    font-size: 16px;
    display: inline-block;
    margin-top: 20px;
    transition: 0.3s;
}

.next-btn a:hover {
    background-color: #0d8ac7;
}
@media (max-width: 768px) {
    .content-grid {
        grid-template-columns: 1fr;
    }
}

